<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/adminstyle.css}">
    <script type="module" th:src="@{/js/admin.js}"></script>
    <script src="https://kit.fontawesome.com/1ad5d86581.js" crossorigin="anonymous"></script>
    <title>Admin</title>
</head>
<body>
<div class="admin_navbar">
    <div class="admin_navbar_logo">
        <i class="fa-solid fa-seedling"></i>
        <a href="#">NBE2_2_TEAM05</a>
    </div>
    <ul class="admin_navbar_menu">
        <li id="nav_dashboard"><a>Dashboard</a></li>
        <li id="nav_member"><a>Member</a></li>
        <li id="nav_product"><a>Product</a></li>
        <li id="nav_order"><a>Order</a></li>
        <li id="nav_board"><a>Board</a></li>
        <li id="nav_menu5"><a>menu5</a></li>
    </ul>
</div>


</body>
</html>