<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/adminstyle.css}">
    <script type="module" th:src="@{/js/admin.js}"></script>
    <script src="https://kit.fontawesome.com/1ad5d86581.js" crossorigin="anonymous"></script>
    <title>관리자 페이지</title>
</head>
<body>
    <div class="admin_main_div">
        <!-- 관리자 페이지 네비바 -->
        <div class="admin_navbar">
            <div class="admin_navbar_logo">
                <i class="fa-solid fa-seedling"></i>
                <a href="#">NBE2_2_TEAM05</a>
            </div>
            <ul class="admin_navbar_menu">
                <li id="nav_dashboard">Dashboard</li>
<!--                <li id="nav_member">Member</li>-->
                <li id="nav_product">Product</li>
                <li id="nav_order">Order</li>
                <li id="nav_board">Board</li>
            </ul>
            <div class="admin_navbar_logo">
                <div>
                    <a href="#" id="logout-btn">로그아웃</a>
                </div>
            </div>
        </div>
        <!-- 관리자 페이지 content -->
        <div id="admin_content" class="admin_content">
            관리자 페이지 제작중 입니다.
        </div>
    </div>
</body>
</html>