<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/main.js}" defer></script>
    <script src="https://kit.fontawesome.com/1ad5d86581.js" crossorigin="anonymous"></script>
    <title>Index</title>
</head>
<body>
    <!-- 네비게이션 바 -->
    <header>
        <div th:replace="~{navbar :: navbar}"></div>
    </header>
    <main>
        <div class="content_1">
            <h1>홈화면 입니다!</h1>
        </div>

    </main>
<!--    <footer>-->
<!--        <div>-->
<!--            <h1>footer 영역 입니다!</h1>-->
<!--        </div>-->
<!--    </footer>-->
</body>
</html>