<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/main.js}" defer></script>
    <script src="https://kit.fontawesome.com/1ad5d86581.js" crossorigin="anonymous"></script>
    <title>로그인</title>
</head>
<body>
    <!-- 네비게이션 바 -->
    <header>
        <div th:replace="~{navbar :: navbar}"></div>
    </header>
    <main>
        <div class="content_1">
            <div class="signup-div">
                <div class="signup-div-content">
                    <div><h2>로그인</h2></div>
                    <div>
                        <label for="inputMemberId">아이디</label>
                        <input type="text" id="inputMemberId" class="sd-input">
                    </div>
                    <div>
                        <label for="inputMemberPw">패스워드</label>
                        <input type="password" id="inputMemberPw" class="sd-input">
                    </div>
                    <div>
                        <label></label>
                        <button>로그인</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>