
    <nav class="navbar" th:fragment="navbar">
        <div class="navbar__logo">
            <i class="fa-solid fa-seedling"></i>
            <a href="/app">깨끝</a>
        </div>

        <ul class="navbar__menu">
            <li><a href="/app">Home</a></li>
            <li><a href="/app/board">게시판</a></li>
            <li><a href="/app/product">상품</a></li>
            <li><a href="/app/mypage">Mypage</a></li>
        </ul>

        <ul class="navbar__menu2">
        </ul>

        <a href="#" class="navbar__toogleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>

