<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/main.js}" defer></script>
  <script th:src="@{/js/navbar.js}" defer></script>
  <script type="module" th:src="@{/js/product-detail.js}" defer></script>
  <script src="https://kit.fontawesome.com/1ad5d86581.js" crossorigin="anonymous"></script>
  <title>상품 정보</title>
</head>
<body>
<div class="background"></div>

<!-- 네비게이션 바 -->
<header>
  <div th:replace="~{navbar :: navbar}"></div>
</header>
<main>
  <div class="content_1">
    <div class="content_url">
      Home > 상품 > <span th:text="${productId}"></span>
    </div><hr>
    <h1>상품 상제 정보</h1>
    <div class="content_product" id="product">
    </div>

    </div>
</main>
<!--    <footer>-->
<!--        <div>-->
<!--            <h1>footer 영역 입니다!</h1>-->
<!--        </div>-->
<!--    </footer>-->
</body>
</html>